header {
    margin:30px 120px ;
    text-align: center;
   
}
.logo {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 200px;
    
   
       
}
nav {
    display: inline-block;
    vertical-align: middle;
    width: 350px;
    color: #3D3D3D;
    
    text-align: center;
      
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    margin:0 20px ;
    font-family: Cera Pro;
        font-weight: 400;
        font-size: 16px;
        
        line-height: 100%;
        
}
nav a {
    text-decoration: none;
    color: #3D3D3D;
}
.logout {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    right: 0px;
    background-color: #46A358;
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
    line-height: 30px;
    margin-left: 200px;
}
.logout img{
    vertical-align: middle;
    margin-right: 5px;
}
.logout a {
    vertical-align: middle;
    color: white;
    text-decoration: none;
}
.line {
    width: 100%;
    border: 0.3px solid #46A35880;
    
}