@use '../base/variables' as *;
@use '../base/mixins' as *;

.services-page {
  .services-shell {
    background: $gradient-hero;
    color: $color-white;
  }

  .services-section {
    padding: 64px 0 80px;

    &__top {
      display: grid;
      gap: 14px;
      margin-bottom: 56px;
    }
  }
}
